h1{
    text-align: center;
    padding-top: 8px
}

h3{
    text-align: center;
    color: white;
}
#menu1{
    background-color: rgb(222, 138, 135);
    height: auto;
    margin-bottom: 8px;


}
 #menu2{
    background-color: #4f69f8;
    height: auto;
    margin-bottom: 8px;

}
#menu3{
    background-color: rgb(111, 253, 118);
    height: auto;
    margin-bottom: 8px;
}

.nav-link{text-align: center;
}